.AppForm {
  min-width: 800px;
}

.AppForm__row {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.AppForm__select {
  width: 250px;
  margin-left: 10px;
}

.AppForm__comment {
  width: 250px;
  margin-left: 10px;
}

.AppForm__title {
  font-size: 46px;
  margin-bottom: 20px;
  text-align: center;
}
