.ConfigForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 100px;

  .ant-col-19 {
    margin-top: 20px;
  }
}

.ConfigForm__success-msg {
  text-align: center;
  margin: 15px 0;
  color: green;
}

.ConfigForm__label {
  margin-right: 15px;
}
